<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, ea quos dolorum eum accusantium omnis eos molestiae consequatur sed. Accusantium, asperiores consequuntur recusandae neque inventore modi. Minus nostrum temporibus nam?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim labore aliquam ratione? Suscipit, animi dignissimos aliquam beatae consequuntur voluptates exercitationem facere itaque sit minus autem harum vitae amet vero placeat!</p>
</body>
</html>